<ion-view title="ETIC INSA Technologies">
  <ion-content class="etic-dark-bg">
    <div class="row project-view-header  project-view-faded">
      <div class="col col-offset-5 col-30">
        <img ng-src="img/projects/{{project.picture}}" class="project-view-img">
      </div>
      <div class="col col-offset-5 col-60">
        <div class="row">
          <h2 class="project-view-title">{{project.name}}</h2>
        </div>
        <div class="row">
          <div class="col col-50 project-number" ng-class="{portrait: WindowService.portrait()}">
            <span class="ion-social-euro project-view-icon"></span>
            <h4 class="project-view-sub-title">{{project.price}} €</h4>
          </div>
          <div class="col col-50 project-number" ng-class="{portrait: WindowService.portrait()}">
            <span class="ion-android-time project-view-icon"></span>
            <h4 class="project-view-sub-title">{{project.jehAmount}} JEH</h4>
          </div>
        </div>
        <div class="row">
          <div class="col col-50 project-number" ng-class="{portrait: WindowService.portrait()}">
            <span class="ion-android-people project-view-icon"></span>
            <h4 class="project-view-sub-title">{{project.consultantsAmount}} Consultants</h4>
          </div>
          <div class="col col-50 project-number" ng-class="{portrait: WindowService.portrait()}">
            <span class="ion-android-calendar project-view-icon"></span>
            <h4 class="project-view-sub-title">{{project.duration}} Semaines</h4>
          </div>
        </div>
      </div>
    </div>
    <!-- LANDSCAPE -->
    <div class="row" ng-if="WindowService.landscape()">
      <div class="col col-40 col-offset-5">
        <div class="row">
          <h3 class="project-view-section-title landscape">Contexte</h3>
        </div>
        <div class="row">
          <ul>
            <li class="project-view-list-item landscape" ng-repeat="context in project.context">
              <span class="ion-android-arrow-dropright"></span>
              {{context}}
            </li>
          </ul>
        </div>
      </div>
      <div class="col col-40 col-offset-10">
        <div class="row">
          <h3 class="project-view-section-title landscape">Objectifs</h3>
        </div>
        <div class="row">
          <ul>
            <li class="project-view-list-item landscape" ng-repeat="obj in project.objectives">
              <span class="ion-android-arrow-dropright"></span>
              {{obj}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END LANDSCAPE -->
    <!-- PORTRAIT -->
    <div class="row" ng-if="WindowService.portrait()">
      <div class="col col-90 col-offset-5">
        <div class="row">
          <h3 class="project-view-section-title">Contexte</h3>
        </div>
        <div class="row">
          <ul>
            <li class="project-view-list-item" ng-repeat="context in project.context">
              <span class="ion-android-arrow-dropright"></span>
              {{context}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" ng-if="WindowService.portrait()">
      <div class="col col-90 col-offset-5">
        <div class="row">
          <h3 class="project-view-section-title">Objectifs</h3>
        </div>
        <div class="row">
          <ul>
            <li class="project-view-list-item" ng-repeat="obj in project.objectives">
              <span class="ion-android-arrow-dropright"></span>
              {{obj}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END PORTRAIT -->
    <div class="row">
      <div class="col col-90 col-offset-5">
        <div class="row">
          <h3 class="project-view-section-title">Méthodologie</h3>
        </div>
        <!-- LANDSCAPE -->
        <div class="row">
          <div class="col col-20">
            <button
              ng-repeat="task in project.tasks track by $index"
              class="button project-view-task-button"
              ng-class="{'etic-green':$index == currentTask, 'button-stable': $index != currentTask, 'portrait':WindowService.portrait()}"
              ng-click="setCurrentTask($index);">
              Phase {{$index + 1}}
            </button>
          </div>
          <div class="col col-70 col-offset-5 project-view-task-details">
            <h4 class="project-view-sub-title">
              Phase {{currentTask + 1}} : {{project.tasks[currentTask].name}}
            </h4>
            <ul>
              <li class="project-view-list-item" ng-repeat="item in project.tasks[currentTask].content">
                <span class="ion-android-arrow-dropright"></span>
                {{item}}
              </li>
            </ul>
            <div class="project-view-task-footer">
              <div class="row">
                <div class="col col-50">
                  <span class="ion-android-time project-view-icon"></span>
                  <h4 class="project-view-sub-title">{{project.tasks[currentTask].jehAmount}} JEH</h4>
                </div>
                <div class="col col-50">
                  <span class="ion-android-calendar project-view-icon"></span>
                  <h4 class="project-view-sub-title">{{project.tasks[currentTask].duration}}
                    Semaine{{project.tasks[currentTask].duration > 1 ? 's' : ''}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- LANDSCAPE -->
    <div class="row" ng-if="WindowService.landscape()">
      <div class="col col-40 col-offset-5">
        <div class="row">
          <h3 class="project-view-section-title">Témoignages</h3>
        </div>
        <div class="row" ng-repeat-start="manager in project.managers">
          <h4 class="project-view-sub-title">
            {{manager.name}}, Chargé d'Affaires
          </h4>
        </div>
        <div class="row" ng-repeat-end>
          <div class="project-view-bubble">
            {{manager.feedback}}
          </div>
        </div>
        <div class="row" ng-repeat-start="client in project.clients">
          <h4 class="project-view-sub-title">
            {{client.name}}, Client
          </h4>
        </div>
        <div class="row" ng-repeat-end>
          <div class="project-view-bubble etic-green">
            {{client.feedback}}
          </div>
        </div>
        <div class="row" ng-repeat-start="consultant in project.consultants">
          <h4 class="project-view-sub-title">
            {{consultant.name}}, Consultant
          </h4>
        </div>
        <div class="row" ng-repeat-end>
          <div class="project-view-bubble">
            {{consultant.feedback}}
          </div>
        </div>
      </div>
      <div class="col col-40 col-offset-10">
        <div class="row">
          <h3 class="project-view-section-title">Parcours</h3>
        </div>
        <div class="row" ng-repeat-start="manager in project.managers">
          <h4 class="project-view-sub-title">
            {{manager.name}}, Chargé d'affaires
          </h4>
        </div>
        <div class="row" ng-repeat-end>
          <ul>
            <li class="project-view-list-item" ng-repeat="item in manager.story">
              <span class="ion-android-arrow-dropright"></span>
              {{item}}
            </li>
          </ul>
        </div>
        <div class="row" ng-repeat-start="client in project.clients">
          <h4 class="project-view-sub-title">
            {{client.name}}, Client
          </h4>
        </div>
        <div class="row" ng-repeat-end>
          <ul>
            <li class="project-view-list-item" ng-repeat="item in client.story">
              <span class="ion-android-arrow-dropright"></span>
              {{item}}
            </li>
          </ul>
        </div>
        <div class="row" ng-repeat-start="consultant in project.consultants">
          <h4 class="project-view-sub-title">
            {{consultant.name}}, Consultant
          </h4>
        </div>
        <div class="row" ng-repeat-end>
          <ul>
            <li class="project-view-list-item" ng-repeat="item in consultant.story">
              <span class="ion-android-arrow-dropright"></span>
              {{item}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END LANDSCAPE -->
    <!-- PORTRAIT -->
    <div class="row" ng-if="WindowService.portrait()">
      <div class="col col-90 col-offset-5">
        <div class="row">
          <h3 class="project-view-section-title">Témoignages</h3>
        </div>
        <div class="row" ng-repeat-start="manager in project.managers">
          <h4 class="project-view-sub-title">
            {{manager.name}}, Chargé d'Affaires
          </h4>
        </div>
        <div class="row" ng-repeat-end>
          <img ng-src="img/projects/{{manager.picture}}" class="rounded-picture">
          <div class="project-view-bubble portrait">
            {{manager.feedback}}
          </div>
        </div>
        <div class="row" ng-repeat-start="client in project.clients">
          <h4 class="project-view-sub-title">
            {{client.name}}, Client
          </h4>
        </div>
        <div class="row" ng-repeat-end>
          <div class="project-view-bubble etic-green portrait">
            {{client.feedback}}
          </div>
          <img ng-src="img/projects/{{client.picture}}" class="rounded-picture">
        </div>
        <div class="row" ng-repeat-start="consultant in project.consultants">
          <h4 class="project-view-sub-title">
            {{consultant.name}}, Consultant
          </h4>
        </div>
        <div class="row" ng-repeat-end>
          <img ng-src="img/projects/{{consultant.picture}}" class="rounded-picture">
          <div class="project-view-bubble portrait">
            {{consultant.feedback}}
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-if="WindowService.portrait()">
      <div class="col col-90 col-offset-5">
        <div class="row">
          <h3 class="project-view-section-title">Parcours</h3>
        </div>
        <div class="row" ng-repeat-start="manager in project.managers">
          <h4 class="project-view-sub-title">
            {{manager.name}}, Chargé d'affaires
          </h4>
        </div>
        <div class="row" ng-repeat-end>
          <ul>
            <li class="project-view-list-item" ng-repeat="item in manager.story">
              <span class="ion-android-arrow-dropright"></span>
              {{item}}
            </li>
          </ul>
        </div>
        <div class="row" ng-repeat-start="client in project.clients">
          <h4 class="project-view-sub-title">
            {{client.name}}, Client
          </h4>
        </div>
        <div class="row" ng-repeat-end>
          <ul>
            <li class="project-view-list-item" ng-repeat="item in client.story">
              <span class="ion-android-arrow-dropright"></span>
              {{item}}
            </li>
          </ul>
        </div>
        <div class="row" ng-repeat-start="consultant in project.consultants">
          <h4 class="project-view-sub-title">
            {{consultant.name}}, Consultant
          </h4>
        </div>
        <div class="row" ng-repeat-end>
          <ul>
            <li class="project-view-list-item" ng-repeat="item in consultant.story">
              <span class="ion-android-arrow-dropright"></span>
              {{item}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END PORTRAIT -->
    <div class="row project-view-footer"></div>
  </ion-content>
</ion-view>
