<ion-view title="ETIC INSA Technologies">
    <ion-content class="etic-dark-bg">
        <div class="row">
            <div class="col col-center">
                <button ui-sref="app.presentation" class="button button-block etic-green">
                    Présentation d'ETIC
                </button>
                <button ui-sref="app.stats" class="button button-block etic-green">
                    Nos chiffres
                </button>
                <button ui-sref="app.projects" class="button button-block etic-green">
                    Nos études
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
