<ion-view title="ETIC INSA Technologies">
    <ion-content class="etic-dark-bg">
        <section class="home-container">
            <div class="row">
                <img src="img/logo-etic.png" class="center"/>
            </div>
            <div class="row">
                <h1 class="home-title">Diagnostic prix d'excellence 2017</h1>
            </div>
            <div class="row">
                <button ui-sref="app.presentation" class="button button-block etic-green">
                    Présentation d'ETIC
                </button>
            </div>
            <div class="row">
                <button ui-sref="app.stats" class="button button-block etic-green">
                    Nos chiffres
                </button>
            </div>
            <div class="row">
                <button ui-sref="app.projects" class="button button-block etic-green">
                    Nos études
                </button>
            </div>
        </section>
    </ion-content>
</ion-view>
